#header{
	margin-left: 5px;
	font-size: 75px;
	background-color: #cbf3f0;
	color: #2ec4b6;
}
.user-auth{
	text-align: right;
}
.user-auth span{
	cursor:pointer;
	margin-left: 5px;
	margin-right: 5px;
}

/*----------------------Poll---------------------*/

#pollboxes{
	display: flex;
	flex-wrap: wrap;
}

.pollbox{
	box-shadow: 5px 5px #333333;
	margin: 8px;
	background-color: #ffffff;
	height: 256px;
	width: 256px;
	cursor: pointer;
}
.poll-head{
	text-align: center;
}
.poll-desc{

}
hr{
	text-align: center;
	width: 50%;
}