
#header{
	margin-left: 15px;
	font-size: 75px;
	background-color: #ffffff;
}
.user-auth{

	margin-top: 30px;
	margin-right: 15px;
	text-align: right;
	font-family: "Raleway";
}
.user-auth span{
	cursor:pointer;
	margin-left: 5px;
	margin-right: 5px;
}
.user-auth input {
	width: 130px;
	margin: 5px;
}
#top{
	display: flex;
	width: 85%;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}
.polls {
	width: 90%;
	margin: 100px auto 0px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*-------------------Body------------------*/
.webdesc{
	width: 40%;
}
.down-arrow{
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
	transition: font-size 500ms;
}
.down-arrow:hover{
	font-size: 30px;
}
.da{
	color: red;
}
.poll-img {
	width: 50%;
	height: 50%;
	max-width: 90%;
}
.intro{
	margin: auto;
	padding-top: 100px;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/*----------------------Poll---------------------*/
.perc-poll{
	font-family: "Raleway";
	font-weight: bold;
}
.question{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	font-family: "Raleway";
	margin-bottom: 15px;
}
.poll{
	padding: 20px;
	min-height: 256px;
	width: 30%;
	border-radius: 20px;
	border: 1px solid #000000;
	margin:10px;
}


.option{
	margin-top: 10px;
	text-align: left;
}

.add-poll{
	width:30%;
	border: 1px solid black;
	border-radius: 20px;
}
.add-choice, .del-choice{
	cursor: pointer;
	margin:8px;
	font-weight: bold;
	font-family: "Raleway";
	text-align: center;
}
.sub-choice{
	margin-top: 10px;
	cursor: pointer;
	margin:8px;
	font-weight: bold;
	font-family: "Raleway";
	text-align: center;
	
}
@media only screen and (max-width: 600px) {
	.intro {
		flex-direction: column;
		width: 90%;
	}
	.webdesc, .poll-img, .polls {
		width: 90%;
		padding: 10px;
	}
	.poll {
		width: 100%;
	}

}
