@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap');
body{
	font-family:'Open Sans';
	margin: 0px;
	background-color: #ffffff;
}
* {box-sizing:border-box}
.container
{
	margin-left: 0px;
	font-size: 15px;
	text-align: right;
	background-color: #ffffff;
	height: 20px;
	width: 200px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

hr{
	width:50%;
}
