@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap');
body{
	font-family:'Open Sans';
	margin: 0px;
	background-color: #ffffff;
}

.container
{
	background-color: #555555;
	height: 30px;
	width: 100px;
}
